<!doctype html>
<html>
<head>
  <title>Super Share Box Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <script src="angular/angular.min.js"></script>
  <script src="underscore/underscore-min.js"></script>
  <script src="oauth2/oauth2.js"></script>
  <script src="oauth/chrome_ex_oauthsimple.js"></script>
  <script src="oauth/chrome_ex_oauth.js"></script>
  <script src="ga/google-analytics-bundle.js"></script>
  <script src="js/background.js"></script>
  <script src="js/options.js"></script>
</head>
<body ng-app="Options" ng-csp>
  <div class="container" ng-controller="OptionsCtrl">
    <h2>Usage</h2>
    <p>Just share on Google+ to your circles as normal.</p>
    <p>Optionally, also add a friend or circle from your other social networks like <img src="examplechip.png" width="150"/></p>
    <p>When you do, Super Share Box will automatically post a link on that other social network to your Google+ post. Remember that the "circles" from other social networks just determine who will see the link to this post on that other social network. For them to see the actual post, they must be in one of the Google+ circles you've shared it to.</p>
    <h2>Settings</h2>
    <form name="settingsForm" class="form-horizontal">
      <fieldset>
        <legend>Share Settings</legend>
        <div class="control-group">
          <div class="control-label">Enabled Networks</div>
          <div class="controls">
            <label class="checkbox" ng-repeat="network in networks">
              <input type="checkbox" ng-model="network.enabled" ng-change="setNetworkEnabled(network.id, network.enabled)"> {{network.name}}
            </label>
          </div>
        </div>
        <div class="control-group">
          <div class="control-label">Post Truncation</div>
          <div class="controls">
            <label class="checkbox"><input type="checkbox" ng-model="truncate" ng-change="setTruncateLength()"/> Truncate Posts</label>
            <label class="text" ng-show="truncate">Characters: <input type="number" ng-model="truncateLength" ng-enabled="truncate" min="1" max="100000" class="input-small" ng-required="truncate" ng-change="setTruncateLength()"></label>
            <span class="help-block">If you want to increase interactions on Google+, you should truncate the posts you share to the other social networks to give the viewers an incentive to click over to your Google+ post and interact with you there. Uncheck the truncate box if you want to share the full post (discouraged).</span>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Google Analytics</legend>
        <div class="control-group">
          <div class="control-label">Enable Google Analytics</div>
          <div class="controls">
            <input id="gaEnabled" type="checkbox" ng-model="gaEnabled" ng-change="setTrackingEnabled(gaEnabled)"/>
            <span class="help-block">SuperShareBox uses Google Analytics to track the number of posts and failures and alert the developer if the failure rate gets too high.</span>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>More</legend>
        <div class="control-group">
          <div class="control-label">Follow the author on Google+</div>
          <div class="controls">
            <div class="g-plus" data-height="69" data-href="https://plus.google.com/116475614487294923810" data-rel="author"></div>
            <span class="help-block">I won't be boring.</span>            
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>
